{% extends "base.html" %}

{% block content %}

<div style="background-color: #eeeeee" class="pt-3">
    <div class="align-items-center">
        <div class="container text-center py-4">
            <h3 style="font-weight: 600; font-size: 54px">
                About HealthPulse
            </h3>
        </div>
    </div>
</div>

<!-- Main Navigation -->

<!-- Main layout -->
<main style="
        background: -webkit-linear-gradient(left, #f8913e, #ffc77e);
        color: #fff;
    ">
    <div class="container mt-4 pb-5">
        <h3 class="text-center py-3 mb-3">
        </h3>

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5">
                <img class="img-fluid rounded z-depth-2"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(21).jpg" alt="sample" />
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7 pt-lg-3">
                <p style="font-weight: 500; font-size: 18px" class="mt-4 mt-lg-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor placerat nisl ac pellentesque. Suspendisse quis
                    diam tortor. Morbi magna purus, pulvinar a efficitur vitae, laoreet aliquam arcu. Vestibulum porta nunc non vulputate
                    porta. Suspendisse vestibulum ac ante id congue. Ut non quam sed elit viverra iaculis. Pellentesque tellus nulla,
                    ultricies at euismod a, facilisis varius justo.
                    
                    
                </p>
                <p style="font-weight: 500; font-size: 18px">
                    Integer vitae sodales felis. Vestibulum blandit sem vitae erat hendrerit, at vulputate leo sagittis. Nullam non orci nec
                    justo maximus sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Nunc elementum imperdiet tempus. Vestibulum ultricies ante eu ex aliquam, at fringilla lorem scelerisque. Sed
                    id velit mattis, feugiat elit in, tempor nibh. Pellentesque id metus quis ipsum dignissim condimentum in ut ante.
                    Curabitur vel est ut turpis egestas blandit. Mauris eu quam cursus, imperdiet dolor vitae, fringilla massa. Ut id auctor
                    tortor. Etiam sit amet nisi vestibulum, porttitor eros quis, auctor diam. Cras quis purus arcu. Pellentesque eget odio
                    lobortis, finibus enim at, consequat metus. Suspendisse sollicitudin neque tellus, nec mattis eros vehicula
                    pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor placerat nisl ac pellentesque. Suspendisse quis
                    diam tortor. Morbi magna purus, pulvinar a efficitur vitae, laoreet aliquam arcu. 
                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</main>
<!-- Main layout -->

<!-- Start Contact info -->
<section>
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-2 py-lg-0">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">Phone</h4>
                        <p style="color: #1d1f21; font-weight: 500" class="lead">
                            +91 123-456-4590
                        </p>
                    </div>
                </div>
                <div class="col-md-4 py-4 py-lg-0">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">Email</h4>
                        <p style="color: #1d1f21; font-weight: 500" class="lead">
                            healthpulse@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4 py-2 py-lg-0">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">
                            Location
                        </h4>
                        <p style="color: #1d1f21; font-weight: 500" class="lead">
                            Bangalore, India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact info -->

{% endblock %}